@page "/inputs"
@rendermode InteractiveServer
@using CC.Input.Logic.Model
@using CC.Input.UI.WebApp.Services
@inject IInputService inputService
@inject ILogger<Input> logger

<PageTitle>Inputs</PageTitle>

<h1>Inputs</h1>

@if (inputs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if(@inputs.Count() == 0)
    {
        <p>No items found.</p>
    }
    else
    {
    <div class="parent">
        <div class="child1">
            <p>Page 1 of X pages (@inputs.Count() items).</p>
        </div>
        <div class="child2">
            <button class="btn btn-primary" @onclick="DeleteAll">Delete all (dev only)</button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>MPAN</th>
                <th>Meter serial</th>
                <th>Date of installation</th>
                <th>Address line 1</th>
                <th>Postcode</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var input in inputs)
            {
                <tr>
                    <td>@input.Id</td>
                    <td>@input.MPAN</td>
                    <td>@input.MeterSerial</td>
                    <td>@input.DateOfInstallation.ToString("yyyyMMdd")</td>
                    <td>@input.AddressLine1</td>
                    <td>@input.PostCode</td>
                </tr>
            }
        </tbody>
    </table>
    }
}

@code {
    private IEnumerable<CC.Input.Logic.Model.Input>? inputs;

    protected override async Task OnInitializedAsync()
    {
        await RetrieveAll();
    }

    private async Task RetrieveAll()
    {
        inputs = await inputService.RetrieveAsync();
    }

    private async Task DeleteAll()
    {
        inputs = null;
        await inputService.DeleteAllAsync();
        await RetrieveAll();
    }
}
